body{
    background: url('../img/azul.jpg');
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
}

#logo{
    background: #1f87c4;
}

#menu ul li:hover{
    background: #1f87c4;
}

.button-more{
    background: #1f87c4;
}